set interfaces eth1 flexible-vlan-tagging
set interfaces eth1 encapsulation flexible-ethernet-services
set interfaces eth1 unit 101 vlan-id 101
set interfaces eth1 unit 101 family inet address 10.10.1.254/24