set interfaces eth1 description to_border-leaf04
set interfaces eth1 flexible-vlan-tagging
set interfaces eth1 encapsulation flexible-ethernet-services
set interfaces eth1 unit 101 description BLUE
set interfaces eth1 unit 101 vlan-id 101
set interfaces eth1 unit 101 family inet address 10.10.1.254/24
set interfaces eth1 unit 102 description RED
set interfaces eth1 unit 102 vlan-id 102
set interfaces eth1 unit 102 family inet address 10.10.2.254/24
set interfaces irb unit 999 family inet address 99.99.99.99/32
set interfaces lo unit 0 family inet address 10.1.0.7/32
set policy-options policy-statement EXPORT_TO_INTERNET term BLUE from route-filter 10.10.1.0/24 exact
set policy-options policy-statement EXPORT_TO_INTERNET term BLUE then accept
set policy-options policy-statement EXPORT_TO_INTERNET term RED from route-filter 10.10.2.0/24 exact
set policy-options policy-statement EXPORT_TO_INTERNET term RED then accept
set policy-options policy-statement EXPORT_TO_INTERNET then reject
set policy-options policy-statement IMPORT_FROM_INTERNET term ALLOW-INTERNET from route-filter 0.0.0.0/0 exact
set policy-options policy-statement IMPORT_FROM_INTERNET term ALLOW-INTERNET then accept
set policy-options policy-statement IMPORT_FROM_INTERNET then reject
set routing-instances INTERNET instance-type virtual-router
set routing-instances INTERNET routing-options static route 0.0.0.0/0 reject
set routing-instances INTERNET interface irb.999
set routing-options router-id 10.1.0.7
set routing-options instance-import IMPORT_FROM_INTERNET
set routing-options instance-export EXPORT_TO_INTERNET
